.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 }
.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 540px;

  max-width: auto;
  margin-bottom: 20px;
}

input.inputtex {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

input,
textarea {
  margin-bottom: 10px;
  border-radius: 65px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#confirmation-message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  background-color: #d4edda;
  width: 600px;
  color: #155724;
  display: none;
  margin-left: 500px;
}
#confirmation-message.show {
  display: block;
}
#confirmation-message.hide {
  display: none;
}